#action {
    display: flex;
    /* display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    align-items: center; */
  }
  
  #drama {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    align-items: center; */
  }
  
  #animation {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    align-items: center; */
  }