
/*home layout*/
.home {
    /* autoprefixer: off */
    display: grid;
    height: calc(var(--viewportHeight) * 2);
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 0;
    grid-template-areas: "sidebar primary"
                         "sidebar featuring";
    @media (--small ){
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 150px;
      grid-template-areas:  "primary"
                            "sidebar"
                            "featuring";
    }
  }
  .home.search-active {
    grid-template-rows: 1fr 150px;
  }
  
  .home-sidebar {
    grid-area: sidebar;
  }
  .home-primary {
    grid-area: primary;
  }
  .home-featuring {
    grid-area: featuring;
    display: grid;
    background-color: var(--darkColor);
    justify-items: center;
    align-items: center;
    height: auto;
  }
  .home-featuring img {
    align-self: center;
    justify-self: center;
    height: 100%;
  }